.footer{
  background:#4c707c;
  height: auto;
  border-top:3px solid;
  border-bottom: 3px solid;
  border-bottom-color: #ffffff;
  margin-top: 0;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  color: #ffffff;
  font-family: georgia, serif;
}
i{
  padding: 10px 10px;
  text-align:center;
}
//#433834//
